.edu:not(:last-child) {
  margin-bottom: 2rem;
}

.edu:hover {
  opacity: 0.75;
}

.edu:hover > ::before {
  background-color: var(--color-secondary);
  transform: translateY(-50%) scale(1.5);
}

.edu__title {
  font-size: 1.8rem;
}

.edu p {
  font-size: 1.4rem;
  line-height: 1.5;
}

.edu span {
  text-transform: capitalize;
  font-weight: 500;
}
